.flx {
  display: flex;

  &.col {
    flex-direction: column;
  }
  &.col-r {
    flex-direction: column-reverse;
  }
  &.row {
    flex-direction: row;
  }
  &.row-r {
    flex-direction: row-reverse;
  }

  &.jc-c {
    justify-content: center;
  }
  &.jc-s {
    justify-content: start;
  }
  &.jc-e {
    justify-content: end;
  }
  &.jc-sb {
    justify-content: space-between;
  }
  &.jc-sa {
    justify-content: space-around;
  }

  &.ai-c {
    align-items: center;
  }
  &.ai-s {
    align-items: start;
  }
  &.ai-e {
    align-items: end;
  }
}

html,
body {
  margin: auto 0;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
}

main {
  margin: 0;
}

footer,
header {
  position: fixed;
  width: 100%;
  margin: 0;
  height: fit-content;
  background-color: blue;
  z-index: 5;
}
footer {
  bottom: 0;
}
header {
  top: 0;
}

.dashContainer {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
}

.loginContainer {
  transform: translate(-50%, 100%);
}
.content.container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 75vh;
  width: 90vw;
  overflow-y: auto;
}





.root-container {
  width: 100vw;
}



.react-datepicker-wrapper {
  width: 100px;

  & .requestInput {
    width: 100px;
  }
}

.requestInput {
  width: 100%;
  text-align: center;
}

.requests.row {
  &.err {
    color: darkred;
  }

  & > .col {
    width: 100px;

    display: flex;
    justify-content: center;
  }
}

.requests.container * {
  text-align: center;
}

.loginContainer{
 position: absolute;
 top: 50px;
}

.nav-pills.outer {
  .nav-link.active,
  .show > .nav-link {
    background-color: darkblue;
  }
}

.form-control,
select,
option {
  font-size: 0.8rem;
  text-align: center;
}

.strikethrough,
input.strikethrough,
input.form-control.strikethrough {
  text-decoration: line-through;
}
