.flx {
  display: flex;

  &.col {
    flex-direction: column;
    &-r {
      flex-direction: column-reverse;
    }
  }
  &.row {
    flex-direction: row;

    &-r {
      flex-direction: row-reverse;
    }
  }

  &.jc-c {
    justify-content: center;
  }
  &.jc-s {
    justify-content: start;
  }
  &.jc-e {
    justify-content: end;
  }
  &.jc-sb {
    justify-content: space-between;
  }
  &.jc-sa {
    justify-content: space-around;
  }

  &.ai-c {
    align-items: center;
  }
  &.ai-s {
    align-items: start;
  }
  &.ai-e {
    align-items: end;
  }

  &.jc-str {
    justify-content: stretch;
  }
  &.ai-str {
    align-items: stretch;
  }
}

html,
body {
  margin: auto 0;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
}

main {
  margin: 0;
  width: 100vw;
}

footer,
header {
  position: fixed;
  width: 100%;
  margin: 0;
  height: fit-content;
  background-color: blue;
  z-index: 5;
}
footer {
  bottom: 0;
}
header {
  top: 0;
}

.dashContainer {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;

  .navbar-nav {
    .nav-item {
      border-radius: 0;
    }

    .col {
      background-color: red;
      margin: 0;
      padding: 0;
    }
  }
}

.content.container,
.loginContainer {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 73vh;
  overflow-y: auto;
  min-width: 95vw;
}

.content.container {
  background-color: rgba(173, 216, 230, 0.699);
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
}

.contents {
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  background-color: lightblue;
}

.root-container {
  width: 100vw;
}

.react-datepicker-wrapper {
  width: 100px;

  & .requestInput {
    width: 100px;
  }
}

.requestInput {
  width: 100%;
  text-align: center;
}

.requests.row {
  &.err {
    color: darkred;
  }

  & > .col {
    width: 100px;

    display: flex;
    justify-content: center;
  }
}

.requests.container {
  * {
    text-align: center;
  }
  form {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
  }
}

.loginContainer {
  position: absolute;
  top: 50px;
}

.nav-pills.outer {
  .nav-link.active,
  .show > .nav-link {
    background-color: darkblue;
  }
}

.form-control,
select,
option {
  font-size: 0.8rem;
  text-align: center;
}

.strikethrough,
input.strikethrough,
input.form-control.strikethrough {
  text-decoration: line-through;
}

.accordionContainer {
  margin: 0;
  padding: 0;
  width: 100%;
}
.accordion {
  width: 100%;
  .accordion-button {
    padding: 0.3rem;
  }

  .accordion-body {
    padding: 0.5rem 1rem;
  }
  .col {
    padding: 0;
  }
}

.plotContainer {
  .js-plotly-plot {
    width: 100%;
    height: 50vh;
    * {
      border-radius: 5rem;
    }
  }

  .dates {
    position: relative;
    z-index: 10;

    .navs {
      width: 100%;
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      gap: 18rem;
    }
  }
  #modebar,
  .modebar-container {
    display: none;
  }
}

.balance {

  gap: 1rem;
  button.small{
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    z-index: 20;
    font-size: smaller;
  }
  font-weight: 100;
  
  * {
    text-align: center;
    color: black;

  }
  .col-2 {
    text-align: right;
  }

  .accordion-body {
    padding: 0.2rem 0;
  }

  .total{

    &.accordion{
      border-radius: 5rem;
    }
  }



  .Inputs {
    .accordion {
      &.total {
        .accordion-button {
          background-color: rgba(0, 100, 0, 0.5);
        }
      }
      &.inner {
        .accordion-button {
          background-color: lightgreen;
        }
      }
      .accordion-body {
        background-color: rgb(197, 252, 197);
      }
    }
  }

  .Outputs {
    .accordion {
      &.total {
        .accordion-button {
          background-color: rgb(252, 200, 194);
        }
      }
      &.inner {
        .accordion-button {
          background-color: mistyrose;
        }
      }
      .accordion-body {
        background-color: rgb(255, 240, 239);
      }
    }
  }

  .totals{
    font-weight: bolder;
  }



  .breakdowns{
    font-weight:500
  }

  .detailsContainer{
    position: relative;
    overflow: hidden;

    &.show{
      overflow: visible;
      z-index: 500;
    }


    .details{
     position: absolute;
     transform: translate(-125%,-50%);
     top: 0;
;     width: max-content;

    }
  }

  .nets *{
    border-radius: 2rem;
    font-weight: bolder;
    background-color: darkblue;
    color: white;
  }
}
